.container {
  min-height: 100dvh;
  max-width: 80vw;
  margin: 0 auto;
}

/* about info styles */
#infoContainer {
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 1.5rem;
}
.info {
  margin-bottom: 1rem;
  text-align: justify;
  line-height: 2;
  text-wrap: wrap;
}
.infoTitle {
  font-size: clamp(1.2rem, 1.5rem, 2rem);
  font-weight: bold;
  color: var(--secondaryColor);
}
.infoDescription {
  font-size: large;
  color: white;
  letter-spacing: 0.1ch;
}

/* mission vission styles */
.mvContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.heading {
  font-size: clamp(1rem, 2rem, 3rem);
  text-align: center;
  color: black;
  text-decoration: underline;
  text-decoration-color: black;
  text-underline-offset: 0.3em;
}

.mvText {
  text-align: justify;
  font-size: large;
  line-height: 1.7rem;
}

/* team styles */
.teamBody {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.teamImg {
  grid-column: 1/2;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.teamInfoDiv {
  grid-column: 2/6;
}

/* founder Info Styles */
.founderInfoHeading {
  font-size: clamp(1rem, 1.5rem, 2.5rem);
  color: #168a9c;
  font-weight: 600;
}

.founderInfoText {
  text-align: justify;
  font-size: large;
  line-height: 1.5rem;
}
@media screen and (max-width: 768px) {
  .mvContainer {
    grid-template-columns: 1fr;
  }
}
