.footer {
  max-width: 100%;
  background: linear-gradient(var(--primaryColor), var(--secondaryColor));
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 2rem;
}

/* info container styles */
.companyName {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2ch;
  font-size: clamp(2rem, 4vw, 5rem);
  font-weight: bold;
}

/* text styles */
.infoText {
  text-align: justify;
}

.divContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: x-large;
  text-transform: capitalize;
  letter-spacing: 0.1ch;
  font-weight: bold;
  text-decoration: underline;
}
.ul {
  width: 100%;
  display: grid;
  place-content: center;
}

.li {
  list-style-type: none;
}
.li::before {
  content: "\2192";
  padding-right: 1rem;
  font-size: 1.3rem;
}

.link {
  color: initial;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.2s ease-in;

  &:hover {
    color: white;
    text-decoration: underline;
    letter-spacing: 0.2ch;
    font-weight: bold;
    transition: all 0.2s ease-in;
  }
}

@media screen and (max-width: 576px) {
  .footer {
    grid-template-columns: 1fr;
  }
}
