/* reviewContainer styles */
.reviewsMainContainer {
  width: 100%;
  padding: 1rem 0;
}
.swiper {
  max-width: 80vw;
  margin: 0 auto;
}
/* single review */
.slide {
  width: 20vw;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  flex-direction: column;
  aspect-ratio: 1/1;
  backdrop-filter: blur(8px) saturate(30%);
  -webkit-backdrop-filter: blur(8px) saturate(30%);
  background-color: var(--primaryColor);
  border-radius: 12px;
  /* box-shadow: rgba(0, 0, 0, 1) 0px 5px 15px; */
  padding: 0 1rem;
}

.reviewName {
  color: black;
  text-align: center;
  text-transform: uppercase;
}

/* rating stars */

.rating {
  color: gold;
}

/* review description */
.reviewDescription {
  text-align: justify;
  text-wrap: wrap;
  word-wrap: break-word;
  color: black;
}

@media screen and (max-width: 768px) {
  /*reviews styles */
  .reviewsContainer {
    aspect-ratio: 1/0.7;
  }

  /* Youtube container styles */
  .youtubeContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 576px) {
  /* review container styles */
  .reviewsContainer {
    aspect-ratio: 1/1.2;
  }
  .reviewContainer {
    width: 60vw;
    margin: 0 auto;
  }
}
